#outerDiv {
  margin: 0 auto;
  height: 600px;
  width: 600px;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
  column-gap: 10px;
}

.innerdiv {
  height: 100px;
  width: 100px;
  border: 1px solid #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input {
  border-bottom: 1px solid gray;
}

input {
  border: none;
}
